<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <script src="{{url_for('static', filename='login.js')}}"></script>
</head>

<body>
    Username: <span id="username">{{session['username']}}</span>
    
    <br>
    
    <form  onsubmit="return false">
        <label>Title:  <input type="text" id="title_input"  required></label><br>
        <label>Amount: <input type="text" id="amount_input" required></label><br>
        <label>Type:   </label>
        <select id="type_input">
            <option value="income">Income</option>
            <option value="expense">Expense</option>
        </select><br>
        <input type="submit" value="Add">
    </form>

    <br>

    <table id="log-table">
        <tr>
            <th>Title</th>
            <th>Amount</th>
            <th>Type</th>
        </tr>
        <tr>
            <td>Test</td>
            <td>100</td>
            <td>Income</td>
        </tr>
    </table>

    <br>

    <div id="graphs">

    </div>

</body>

</html>
